.card {
  color: #222222;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 300;
  line-height: 110%;
  margin-bottom: 35px;
  max-width: 225px;
  position: relative;
}

.card p {
  margin: 3px 0;
}

.card__badge {
  background-color: hsl(0, 0%, 100%);
  border-radius: 3px;
  color: #222222;
  font-size: 12px;
  font-weight: bold;
  left: 10px;
  padding: 5px;
  position: absolute;
  top: 10px;
}

.card__image {
  border-radius: 10px;
  width: 100%;
}

.card__review:before {
  background-image: url("../assets/images/star.png");
  background-size: 14px 14px;
  content: "";
  display: inline-block;
  height: 14px;
  margin-right: 5px;
  width: 14px;
}

.card__review > span {
  color: #918e9b;
}

.card__desc > span {
  font-weight: bold;
}

@media screen and (min-width: 500px) {
  .card {
    margin-right: 20px;
    max-width: 170px;
  }

  .card__image {
    height: 100%;
    width: auto;
  }
}
