.hero {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 20px;
}

.hero__image {
  align-self: center;
  max-width: 300px;
}

.hero__title {
  color: hsl(0, 0%, 0%);
  font-size: 36px;
  font-weight: 600;
  line-height: 110%;
  margin-bottom: 0;
}

.hero__para {
  color: hsl(0, 0%, 15%);
  font-size: 16px;
  font-weight: 300;
  line-height: 110%;
  max-width: 320px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 20px 60px;
  }

  .hero__image {
    max-width: 600px;
  }
}
